{% extends 'base.html.twig' %}

{% block title %}Purchase index{% endblock %}

{% block body %}
    <h1>Purchase index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Number</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for purchase in purchases %}
            <tr>
                <td>{{ purchase.id }}</td>
                <td>{{ purchase.number }}</td>
                <td>{{ purchase.date ? purchase.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('purchase_show', {'id': purchase.id}) }}">show</a>
                    <a href="{{ path('purchase_edit', {'id': purchase.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('purchase_new') }}">Create new</a>
{% endblock %}
